.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;

  @include tablet {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.filter-list__item {
  margin-right: 8px;

  &:nth-child(3) {
    margin-bottom: 15px;

    @include mobile {
      margin-bottom: 0;
    }
  }

  &:first-child {
    margin-bottom: 15px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.filter-list-button {
  padding: 6px 22px;

  &:first-child {
    padding: 6px 25px;
  }
}
