.hero.section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-color);
  background-image: var(--bg-gradient), url(../images/hero-background-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: var(--bg-gradient),
      url(../images/hero-background@2x-mob.jpg);
  }

  @include tablet {
    background-image: var(--bg-gradient), url(../images/hero-background-tab.jpg);
    @include retina {
      background-image: var(--bg-gradient),
        url(../images/hero-background@2x-tab.jpg);
    }
  }

  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px 600px;

    background-image: var(--bg-gradient), url(../images/hero-background.jpg);

    @include retina {
      background-image: var(--bg-gradient),
        url(../images/hero-background@2x.jpg);
    }
  }
}

.hero {
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include mobile {
    font-size: 26px;
  }

  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }
}

// .hero__title {
//   width: 696px;
//   height: 120px;
//   color: #ffffff;
//   margin: 0 auto;
//   margin-bottom: var(--primary-gap);
// }

.hero__title {
  width: 100%;
  height: auto;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: var(--primary-gap);
  @extend .hero;

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @include desktop {
    width: 696px;
    height: 120px;
  }
}
